<div class="card border-3 mb-3" [style.border-color]="borderColor">
  <div class="card-body">
    <h2 class="card-title">Et voluptatem quia est sint optio earum unde.</h2>
    <p class="card-text">
      Lorem ipsum dolor sit amet. Eos eius dolorum nam ullam voluptatem non
      nostrum eaque et repellat facilis. Ea velit repellendus qui magni adipisci
      aut necessitatibus consectetur aut maxime corporis qui omnis quia et
      doloribus reiciendis At ratione enim. Et harum atque sed quidem
      repudiandae ex cupiditate perspiciatis eos obcaecati molestias. Ea enim
      aliquam aut eligendi quia aut veniam consequatur.
    </p>
    <button (click)="changeColor()"[style.background-color]="bgcolor" type="button">Set {{btncolor}}</button>
  </div>
</div>
